[packages]
cfgv = "==3.3.1"
dead = "==1.5.0"
distlib = "==0.3.6"
filelock = "==3.8.2"
identify = "==2.5.9"
nodeenv = "==1.7.0"
platformdirs = "==2.6.0"
pre-commit = "==2.20.0"
pyyaml = "==6.0"
toml = "==0.10.2"
virtualenv = "==20.17.1"
pytest = "*"
setuptools = "*"
flake8 = "*"
black = "*"
pylint = "*"
mr-freeze = {path = "."}

[dev-packages]
